body {
  background-color: bisque;
}

#game_board {
  width:  310px;
  height: 340px;
  overflow: hidden;
}

.card {
  width: 60px;
  height: 80px;
  line-height: 80px;
  border: 1px solid silver;
  border-radius: 10px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  box-shadow: gray 2px 2px;
  background: white;
  float: left;
  cursor: pointer;
}

img {
  width: 60px;
  height: 80px;
}

/* 裏の状態 */
.back {
  background-image: url('card.png');
  background-size: 60px 80px;
}

/* 終了時 */
.finish {
  opacity: 0;
  cursor: default;
}

/* 経過秒数 */
#result {
  font-size: 1.2rem;
  font-weight: bold;
}